<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRAKTIKUM 2 HTML</title>
  </head>
  <body>
    <h1>Membuat Form (InputText & Combobox)</h1>
    <h3>Masukkan Biodata Mahasiswa : </h3>
    <label nama="Nama">Nama Mahasiswa : </label>
    <input type="text" name="Nama"><br>
    <br>
    <label nama="NIM">NIM : </label>
    <input type="text" name="NIM"></br>
    <strong>Pilihlah Prodi Anda :</strong>
    <select>
        <option nama="Prodi" value="...">...</option>
        <option nama="Prodi" value="TI-MDI">TI-MDI</option>
        <option nama="Prodi" value="TI-DGM">TI-DGM</option>
        <option nama="Prodi" value="TI-KAB">TI-KAB</option>
        <option nama="Prodi" value="SK">SK</option>
    </select>
  </body>
</html>
