<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRATIKUM 4 : CSS</title>
    <link rel="stylesheet" href="../assets/css/prak4.css">
  </head>
  <body>
    <div id="box">
      <div id="header" align="center">
        <h1>INSTITUT BISNIS DAN TEKNOLOGI INDONESIA</h1>
        Jalan Tukad Pakerisan No 97 Panjer, Denpasar
      </div>
      <div id="menubar" align="center"><a href="" class="teksmenu">Beranda</a> | <a href="" class="teksmenu">Prodi</a> | <a href="" class="teksmenu">Daftar</a></div>
      <div id="konten">
        <p>
            <h3>Masukan Biodata Mahasiswa</h3>
            <label nama="Nama">Nama Mahasiswa : </label>
            <input type="text" name="Nama"><br>
            <br>
            <label nama="NIM">NIM : </label>
            <input type="text" name="NIM"></br>
            <br>
            <label>Pilihlah Prodi Anda :</label>
            <select>
                <option nama="Prodi" value="...">...</option>
                <option nama="Prodi" value="TI-MDI">TI-MDI</option>
                <option nama="Prodi" value="TI-DGM">TI-DGM</option>
                <option nama="Prodi" value="TI-KAB">TI-KAB</option>
                <option nama="Prodi" value="SK">SK</option>
            </select>
        </p>
      </div>
      <div id="footer" align="center">
        Pemrograman Web 1 <br> 2021
      </div>
    </div>
  </body>
</html>
