<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRATIKUM 3 HTML</title>
  </head>
  <body>
    <h3>Membuat Table dan Image</h3>
    <table border="1">
      <caption>
        Tabel data Mahasiswa
      </caption>
      <tr>
        <th>NIM Mahasiswa</th>
        <th>Nama Mahasiswa</th>
        <th>Prodi</th>
        <th>Foto Profil</th>
      </tr>
      <tr>
        <td>21101001</td>
        <td>Anggi</td>
        <td>TI-MDI</td>
        <td><img src="../assets/images/palguna.jpg" width="145" height="150" /></td>
      </tr>
      <tr>
        <td>21101002</td>
        <td>Joko</td>
        <td>TI-DGM</td>
        <td><img src="../assets/images/palguna.jpg" width="145" height="150" /></td>
      </tr>
      <tr>
        <td>21101003</td>
        <td>Arya</td>
        <td>SK</td>
        <td><img src="../assets/images/palguna.jpg" width="145" height="150" /></td>
      </tr>
    </table>
    <caption>
      Untuk Profil Lebih Lanjut, Silahkan
      <a href="prak2.html">Kunjungi</a>
    </caption>
  </body>
</html>
