<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRATIKUM 1 HTML</title>
  </head>
  <body>
    <h1>Membuat Heading dan List</h1>
    <h2>INSTITUT BISNIS DAN TEKNOLOGI INDONESIA</h2>
    <h3>Membuat Unordered List</h3>
    <strong>Program Studi yang disediakan : </strong>
    <ul>
      <li>TI-MDI</li>
      <li>TI-DGM</li>
      <li>TI-KAB</li>
      <li>SK (Sistem Komputer)</li>
    </ul>
    <h3>Membuat Ordered List</h3>
    <strong>Program Studi yang disediakan : </strong>
    <ol>
      <li>TI-MDI</li>
      <li>TI-DGM</li>
      <li>TI-KAB</li>
      <li>SK (Sistem Komputer)</li>
    </ol>
  </body>
</html>
